/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body .btn {
  background-color: #934016;
  color: white;
  border: 1.5px solid #21201f;
}
html body .btn:hover {
  background-color: #21201f;
  color: white;
  border: 1px solid #934016;
}
nav {
  background-color: #934016;
}
nav #navbarTogglerDemo01 {
  width: 100vw;
  background-color: white;
}
nav #navbarTogglerDemo01 #JWlogo {
  width: 75px;
  height: 75px;
  background-color: #934016;
}
nav #navbarTogglerDemo01 .navbar-nav {
  justify-content: space-around;
  display: flex;
  width: 100%;
}
nav #navbarTogglerDemo01 .navbar-nav a {
  font-size: 20px;
  color: black;
  padding: none;
}
#body {
  background-color: #934016;
}
#body .jumbotron {
  background-color: #727271;
  color: white;
  border: 3px solid #383838;
}
#body .jumbotron .my-4 {
  background-color: #383838;
}
@media (min-width: 575px) {
  #body .jumbotron {
    text-align: center;
  }
}
#body .jumbotron .lead {
  font-size: 2rem;
}
#body #horizontal-card {
  background: #383838;
  color: white;
}
#body #horizontal-card .card-header {
  font-size: 3rem;
}
#body .row {
  background-color: #383838;
}
#body .row .card {
  background-color: #727271;
  border: 3px solid #383838;
  margin-bottom: 15px;
  text-align: center;
  color: white;
}
#body #overview-header {
  background-color: #383838;
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#body article {
  background-color: #383838;
  color: white;
  display: flex;
}
#body article .p1,
#body article .p2 {
  font-size: 1.3rem;
  width: 48%;
}
#body article .p2 {
  float: right;
}
#body .card {
  background-color: #383838;
  color: white;
  text-align: center;
}
#body .footer {
  color: black;
}
