//Components: anything reusable such as buttons, navbars, cards etc.

//NavBar
nav {
  .navbar-toggler {
    //hamburger button in mobile
  }

  div {
    background-color: rgb(122, 24, 24);

    ul {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
    }
  }
}

//Footer
