#body {
    background-color: @color2;

    .jumbotron {
        background-color: @color3;
    }

    #horizontal-card {
        background: @color5;
        color: @color1;
    }

    .row {
        background-color: @color1;

        .card { 
            background-color: @color2;
            color: @color1;
        }
    }

    article {
        background-color: @color1;
        color: @color2;
    }


}