nav {

    #navbarTogglerDemo01 {
        display: flex;

        .navbar-nav {
            justify-content: space-around;
            display: flex;
            width: 100%;
            a{
                color: black;
            }
        }
    }
}